<div class="container-fluid bg-dark bg-gradient text-white shadow-lg">
    <div class="container p-4">
        <div class="fs-1 fw-bold">
            Tarot Vaje!
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Tarot vaje!</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <h1 class="text-center">Vaje za spoznavanje tarot kart</h1>

        <p>Preden sploh začnete z delom se morate spoznati z vsako tarot karto. Z njo se morate povezati in spoznati njene simbole. Karta mora postati del vas.</p>

        <p>The effort directed toward the objective of accomplishing this union has been known by many names: yoga, prayer,
        magic, and meditation. The latter has received much popular attention in recent years, unfortunately not always
        accompanied by an understanding of either the objective or the method involved. The purpose of meditation is to
        clear a pathway between the outer personality ofthe individual and the inner center of his being. This
        pathway becomes a Jacob’s ladder upon which the ascending angels of the outer man meet and join in joyous union
        with the descending angels of the indwelling God. Ignorance, fear, hostility, guilt, and discord are the
        barriers that obstruct the freedom of the angelic host to meet at the summit of the soul. To learn the truth
        about our relationship to the godhead in our souls, and to shed the fetters that hold us captive, is to render
        us capable of traveling the pathway to Divinity at will. He who prays for anything but for union with God is a
        blasphemer!</p>

        <p>Pri vsaki karti Velike Arkane imate meditacijo na karto!</p>

        <hr>
        <h2 class="text-center">Vaja 1 - Spoznavanje Velike Arkane</h2>
        <!-- Razumevanje simbolov v karti -->
        <hr>
        1. gledanje karte in branje o karti in simbolih
        2. Povezava s karto
        3. Delovni zvezek Velike arkane
        <hr>
        <h2 class="text-center">Vaja 2 - Karta, ki vam nekaj sporoča</h2>
        <!-- Naj karta poda nasvet za vas -->
        <hr>
        1. Umirjanje
        2. Vprašanje
        3. Mešanje
        4. Povlečite
        5. Preberite in razmislite
    </div>
</div>


<app-navrh/>
