<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Meditacija
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Meditacija</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <div class="py-4 text-center">
            <h1>Meditacija in Tarot</h1>
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>
        <p>Human life has one purpose—to attain to union with God. It makes little difference whether this God be
        envisioned as personal or impersonal, or as a unity, a trinity, or an entire pantheon of personified divine
        powers. What matters is that human beings are capable of inwardly uniting themselves with a presence and a glory
        infinitely greater than their own human personalities; and that by realizing this potential, men and women can
        literally cease to be merely children of the earth and can join the kingdom of the gods, or of God.</p>

        <p>The effort directed toward the objective of accomplishing this union has been known by many names: yoga, prayer,
        magic, and meditation. The latter has received much popular attention in recent years, unfortunately not always
        accompanied by an understanding of either the objective or the method involved. The purpose of meditation is to
        clear a pathway between the outer personality ofthe individual and the inner center of his being. This
        pathway becomes a Jacob’s ladder upon which the ascending angels of the outer man meet and join in joyous union
        with the descending angels of the indwelling God. Ignorance, fear, hostility, guilt, and discord are the
        barriers that obstruct the freedom of the angelic host to meet at the summit of the soul. To learn the truth
        about our relationship to the godhead in our souls, and to shed the fetters that hold us captive, is to render
        us capable of traveling the pathway to Divinity at will. He who prays for anything but for union with God is a
        blasphemer!</p>

        <p>Pri vsaki karti Velike Arkane imate meditacijo na karto!</p>

    </div>
</div>


<app-navrh/>
