<div class="container-fluid bg-light shadow-sm">
    <div class="container p-4">
        <div class="fs-1 fw-bold">
            Sadhana!
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Sadhana!</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="container p-3">
        <h1 class="text-center">22 sadhan - 7 stopenj + 2 ➯ 0<sup>o</sup></h1>

        <p>Preden sploh začnete z delom se morate spoznati z vsako tarot karto. Z njo se morate povezati in spoznati
            njene simbole. Karta mora postati del vas.</p>

        <p>Da pa bi razumeli sam proces napredovanja pa bom na kratko razložil kako si sledijo čakre in kaj katera
            predstavlja. Imamo 7 glavnih čaker.</p>

        <p>Pri vsaki karti Velike Arkane imate meditacijo na karto!</p>

        <div class="card text-center shadow">
            <div class="card-header">
                Stopnja 0<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/ajna.png">
                <p class="card-text">Da bi lažje potovali sami, je potrebno pridobiti neko osnovno notranje razumevanje
                    in seveda spoznanje, kdo in kaj ste.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>
        <!--<div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~@/assets/majorarcana/the-fool.png" class="img-fluid rounded-start">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">Nov začetek nova spoznanja</h4>
                        <p class="card-text">Ta del je namenjen temu, da ovržemo vso prtljago, ki jo nosimo že vrsto
                            let. Na tej stopnji pričnete z delom na sebi. Za nekatere je to joga, ki ste jo želeli
                            delati že vrsto let, spet za druge je to tek ali pa hoja v gore. Enostavno je čas, da vso
                            preteklost pustite za sabo in pričnete živeti. Kaj je lahko boljšega kot pa to, da ste živi,
                            da imate pred seboj ves svet. Kaj je lahko še boljša motivacija kot pa to, da živite,
                            dihate,... Življenje, ki ga imamo je kratko in vso prtljago nosimo s sabo, sami sebe
                            kaznujemo in se potiskamo dol. Čas je, da se pričnete zavedati kdo v resnici ste. Kdo ste
                            bili še preden vas je svet uzel v roke! Ta stopšnja je stonja na kateri ostanete več
                            mesecev. To morate storiti preden greste naprej. Bodite pošteni do sebe in se zavedajte, da
                            je to zelo pomembno. Minimalna doba je 3 mesece! Brez izjem! Še enkrat, to je zelo
                            pomembno! Z vami bom delil vrsto praks, ki vam lahko pomagajo, da določene stvari pohitrite
                            ampak ne odstopajte pa od prakse, ki je pripisana posebej tej stopnji! Če končate vse
                            stopnje se vrnete k tej zato je pomembno, da ostanete tukaj minimalno 3 mesece.</p>
                        <p class="card-text"><small class="text-muted">#hipnoterapija #joga #meditacija #sadhana #tratak
                            #jalaneti #spoznavanje</small></p>
                    </div>
                </div>
            </div>
        </div>-->

        <!--Stopnja 1-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja I<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/muladhara.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 2-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja II<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/swadhisthana.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 3-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja III<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/manipura.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 4-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja IV<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/anahata.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 5-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja V<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/vishuddhi.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 6-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja VI<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/ajna.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 7-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja VII<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/bindu.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

        <!--Stopnja 8-->
        <div class="card text-center shadow my-5">
            <div class="card-header">
                Stopnja 0<sup>o</sup>
            </div>
            <div class="card-body">
                <h5 class="card-title">Novi začetki</h5>
                <img src="~@/assets/chakre/sahasrara.png">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Pojdite na sadhano</a>
            </div>
            <div class="card-footer text-muted">
                #joga #meditacija #tratak #raziskovanje #potovanjevase
            </div>
        </div>

    </div>
</div>


<app-navrh/>