<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Mala Arkana: Kelihi
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/tarot">Tarot</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Mala Arkana: Kelihi</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid p-0 bg-header">
    <div class="container p-md-4 p-2">

        <div class="p-md-2 text-black">
            <div class="py-4 text-center">
                <h1 class="text-center">Mala Arkana: Kelihi</h1>
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>

            <p>Karte tarota Kelihov obravnavajo čustveno raven zavesti in so povezane z ljubeznijo, čustvi, odnosi
                in povezavami.</p>

            <p>Obleka kelihov je povezana z elementom vode. Voda je tekoča, okretna in 'v toku', vendar je tudi
                zelo močna in tvorna. Lahko je mehka in nežna, kot valovi, ki pljuskajo ob peščeno obalo, ali pa močna
                in celo
                tako močna, kot divja reka. Element vode je simbol pretočnosti, občutkov in čustev, intuicije, odnosov,
                zdravljenja in čiščenja. Je ženski element in odraža subtilno moč, ki pogosto prebiva v ženskah. Je
                sprejemljiva, prilagodljiva, prečiščevalna in tekoča.</p>

            <p><span class="fw-bold">Kaj v branju pomenijo tarot karte Kelihov?</span>
                Karte tarota Kelihi kažejo, da razmišljate s srcem in ne z glavo, in tako odražajo vaše spontane odzive
                in vaše
                običajne reakcije na situacije. Kelihi so povezani tudi z ustvarjalnostjo, romantiko, fantazijo in
                domišljijo.
            </p>

            <p>Negativni vidiki obleke Kelihov vključujejo pretirano čustveno ali popolnoma neangažirano in
                nepristranskost, nerealna pričakovanja in fantaziranje o tem, kaj bi lahko bilo. Prisotna so lahko
                potlačena
                čustva, nezmožnost resničnega izražanja in pomanjkanje ustvarjalnosti.</p>

            <p>Tarot karte Kelihi pogosto predstavljajo astrološka znamenja vode - Ribe, Raka in Škorpijona. Ko v
                branju tarota vidite karto Kelihov, se pogosto nanaša na osebo z znakom Ribe, Raka in Škorpijona. Na
                splošno so
                ljudje Kelihov čustveni, umetniški, humani in ustvarjalni. Povezani so s svojim čustvenim jazom in
                črpajo
                energijo iz tega, kar čutijo v sebi.</p>

            <p><span class="fw-bold">Kaj pomeni, ko so pri branju tarota prisotne večinoma tarot karte Kelihi?</span>
                Če je pri branju tarota pretežno kelih, iščete rešitve za predvsem čustvene konflikte, osebne
                interakcije,
                ljubezenske zadeve, občutke in ustvarjalnost.</p>

            <div class="py-4 text-center">
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>

            <strong>Karte kelihov so:</strong> <span v-for="karte in skodelice">
                <router-link class="text-decoration-none text-white" :to="`${karte.to}`">{{ karte.ime }}</router-link> |
            </span>

            <div class="py-4 text-center">
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>
            <!-- CUPS -->
            <div class="row row-cols-1 row-cols-xl-4 g-4">
                <div class="col-xl d-flex align-items-center justify-content-center"
                     v-for="(arkana, index) in skodelice"
                     :key="index">
                    <router-link :to="`${arkana.to}`" class="text-decoration-none">
                        <div class="card-my">
                            <div class="content-my">
                                <div class="front">
                                    <img :src="arkana.img" alt="" class="img-fluid shadow">
                                </div>
                                <div class="back p-2 text-white bg-dark shadow bg-image-cards bg-opacity-75">
                                    <h3 class="text-shadow">{{ arkana.ime }}</h3>
                                    <p>{{ arkana.pregled }}</p>
                                </div>

                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
            <!-- ENDC CUPS -->

        </div>
    </div>
</div>
