<div class="container-fluid bg-light">
    <div class="container p-4">

        <div class="fs-1 fw-bold">
            0 - The World (Svet)
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/tarot">Tarot karte!</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">0 - The World</li>
            </ol>
        </nav>

    </div>
</div>

<div class="container-fluid">

    <div class="container text-center p-3">
        <div class="row">

            <div class="col-lg-4 fs-4 p-3 d-flex align-items-center justify-content-center">
                "Tarot Karta Svet govori, da ste zadovoljni s tem kar imate, da se veselite v situaciji kakršna koli že
                je. Ko spoznate, da ničesar ne primankuje, ves svet pripada vam."
            </div>

            <div class="col-lg-4  p-3">
                <h1>0 - The World (Svet)</h1>
                <img src="~@/assets/majorarcana/the-world.png" style="height: 500px" class="img-fluid">
            </div>

            <div class="col-lg-4 fs-4 p-3 d-flex align-items-center justify-content-center text-danger">
                "Pravi uspeh se nasmehne tistim, ki so 100-odstotno pripravljeni na neuspeh. Ko boste obvladali
                umetnost elegantnega plesa z napakami, boste vedeli, kaj pomeni biti resnično svoboden – svobodno
                slediti svojemu srcu, utelešati svojo moč in živeti svoje sanje."
            </div>

        </div>
    </div>

    <div class="container p-2">

        <p>Karta Sveta prikazuje golo žensko, zavito v vijolično tkanino, ki pleše znotraj velikega lovorovega venca.
            Pogled ima usmerjen nazaj v preteklost, njeno telo pa se premika naprej v prihodnost. V rokah ima dve
            palici, kot tisti, ki jo drži Mag. To je simbol, da se je to, kar je bilo manifestirano s strani Maga, zdaj
            zaključilo s Svetom. Venec je okoli nje, kar simbolizira neprekinjen cikel uspešnih zaključkov in novih
            začetkov, saj ženska, ko stopi skozi venec, zaključuje eno fazo, skoraj takoj pa začne drugo.</p>
        <p>Okoli venca so štiri figure (lev, bik, angel in orel), podobne tistim v Kolesu sreče. Tako Svet kot Kolo
            sreče govorita o ciklični naravi vašega življenja in vašem napredovanju skozi njegove cikle. Štiri figure
            predstavljajo štiri fiksna znamenja zodiaka - Lev, Bik, Vodnar in Škorpijon. Simbolični so za štiri
            elemente, štiri barve tarota, štiri točke kompasa, štiri letne čase in štiri vogale vesolja. Tukaj so, da
            vas vodijo iz ene faze v drugo ter vnesejo ravnovesje in harmonijo na vaše potovanje.</p>

        <hr>
        <h2 class="text-center">Pokončna karta</h2>
        <hr>
        <div class="clearfix">
            <img src="~@/assets/majorarcana/the-world.png" class="col-md-2 float-md-start m-3 m-md-2">

            <p>Ko se v branju tarota pojavi karta Sveta, zažarite od občutka celovitosti, dosežka, izpolnjenosti in
                dokončanosti. Dolgoročni projekt, obdobje študija, razmerja ali kariere je zaokrožil in zdaj uživate v
                občutku zaključka in dosežka. Ta karta lahko predstavlja diplomo, poroko, rojstvo otroka ali doseganje
                dolgoletnih sanj ali želja. Končno ste dosegli svoj cilj ali namen. Vse se je združilo in vi ste na
                pravem mestu, delate pravo stvar, dosegate tisto, kar ste si zamislili. Počutiš se celega in
                popolnega.</p>
            <p>Zdaj vas karta Svet vabi, da razmislite o svojem potovanju, počastite svoje dosežke in se uglasite v
                svojih duhovnih lekcijah. Praznujte svoje uspehe in uživajte v veselju, da ste uresničili svoje cilje.
                Vsi zmagovi in ​​stiske na vaši poti so vas naredili v močno, modro, bolj izkušeno osebo, kot ste zdaj.
                Izrazite hvaležnost za to, kar ste ustvarili in pospravili. Končno poskrbite, da ne boste hiteli z
                naslednjim velikim projektom; praznovanje vaše poti vas bo pripravilo na uspeh, ko boste pripravljeni na
                naslednji izziv.</p>
            <p>Če še niste dosegli te točke zaključka, ste zelo blizu! Morda boste še vedno potrebovali dodatno raven
                razumevanja, da boste diplomirali na višjo raven in uživali v resničnem uspehu. Poglejte nazaj na svoje
                pretekle izkušnje in priznajte, kako daleč ste prišli in kaj ste se na tej poti naučili. Morda vas bo
                presenetilo, če se ozrete nazaj na svoj napredek in vidite, koliko ste dosegli. Ta razmislek je lahko
                tudi tisto, kar potrebujete, da svoj projekt pripeljete do končne faze.</p>
            <p>Če še vedno ostanejo ohlapni deli, vas Svetovna kartica prosi, da jih dokončate. S tem boste očistili
                prostor za nove začetke in priložnosti za nastajanje.</p>
            <p>Bolj dobesedno, Svet lahko pomeni svetovno potovanje, zlasti v velikem obsegu. Morda boste imeli srečo,
                da se odpravite na šestmesečno potovanje v tujino ali pa delate, študirate ali živite v tujini dalj
                časa. Ta kartica krepi univerzalno razumevanje in globalno zavest, in našli boste novo spoštovanje do
                ljudi in kultur z vsega sveta.</p>
        </div>
        <hr>
        <h2 class="text-center">Obrnjena karta</h2>
        <hr>
        <div class="clearfix">
            <img src="~@/assets/majorarcana/the-world-down.png" class="col-md-2 float-md-end m-3 m-md-2">
            <p>Svet obrnjen nakazuje, da iščete zaključek osebnega vprašanja. Morda ste še vedno čustveno navezani na
                preteklo razmerje in želite nadaljevati. Ali pa sanjate o dnevu, ko se boste lahko vtaknili v svoje
                stare skinny kavbojke, a se zdaj zavedate, da sta se vaša presnova in oblika telesa spremenili v zadnjih
                desetih letih. Globoko v sebi veste, da morate opustiti preteklost in iti naprej, če želite sprejeti in
                sprejeti to, kar ste zdaj. Iskanje zaključka je lahko intenzivno osebno potovanje – nekaj, kar obvladate
                z beleženjem, vizualizacijo, energijskim delom in terapijo.</p>
            <p>Obrnjen svet lahko pomeni, da želite izpolniti velik cilj ali dokončati velik projekt, vendar ne naredite
                vseh korakov, potrebnih za dosego tega cilja. Lahko se odločite za najlažjo ali najhitrejšo pot za
                dosego cilja, vendar to ne bo pripeljalo do želenega rezultata. Plezanje na goro od spodaj navzgor je
                povsem drugačna izkušnja kot vožnja s helikopterjem na vrh, čeprav je cilj enak. Na tej poti morate
                doživeti preizkušnje in stiske, da se lahko učite in rastete. In ko boste dosegli svoj cilj, boste
                uživali v tako fantastičnem občutku dosežkov. Naj vas ne bo strah postaviti si dolge cilje, tudi če to
                pomeni prenašati stiske ali izzive na poti; bo zmaga še slajša.</p>
            <p>Obrnjeni svet lahko nakazuje tudi čas, ko ste blizu zaključka projekta ali cilja, vendar iz kakršnega
                koli razloga izgubite fokus in na koncu opustite. Pred vami je le še kratka pot, zakaj bi se ustavili
                zdaj? Napolnite se z energijo in se spomnite, kako čudovito bo življenje, ko boste dobili stvar, ki ste
                si jo tako dolgo želeli.</p>
            <p>Včasih lahko Obrnjen svet pomeni frustrirajočo zamudo pri dokončanju vaših projektov. Morda boste
                zamudili bistveni del in ne boste našli zaključka, dokler ga ne uredite. Morda boste morali postati bolj
                ustvarjalni, da ugotovite, kako se dotakniti ciljne črte.</p>
        </div>
        <hr>
        <h2 class="text-center">Pomen simbolov v karti</h2>
        <!-- Slike simbolov ali pa slika karte in na vseh straneh opis v sliki-->
        <hr>
        <div class="text-center">
            <img src="~@/assets/simbolizem/the-fool-opis.png" class="img-fluid">
        </div>

        <hr>
        <h2 class="text-center">Karta v Kabali</h2>
        <hr>
        <p>Svojo pot začnemo na dvaintrideseti poti, ki vodi od sefire Malkuth do naslednje najvišje sefire, Yesod.
            Psihološko kaže na prenos zavesti iz telesne oblike v psihofiziološko energijo. V njem sodeluje pretvorbo
            statične energije telesa v dinamično energijo psihe, ki je nejasno analogna libidu
            Freudovske psihologije. Tej poti je pripisana hebrejska črka <em>Tav</em>, križ v obliki črke T, ki kaže na
            sposobnost duha, da pobegne iz materije; mračni planet Saturn, simbol omejevanja; in tarot po imenu Svet.
            Nadaljnji atributi so barva indigo in dragi oniks. Žival je krokodil; rastline so jesen
            in cipresa; znanost je alkimija; čarobno orožje je srp; dišave so v obliki kadila; in božanstva so Saturn,
            Brahma, Nephtys in Atena.</p>
        <hr>
        <h2 class="text-center">Modrosti karte</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-4 g-4">

            <div class="col">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Norec je prva karta v tarotu, vendar ni številka ena: je nič. To ni nič drugega kot nič:
                            ogromna, odprta praznina iz katere vse nastane in v kar se vse raztopi."</p>
                    </blockquote>
                </figure>
            </div>

            <div class="col">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Norec nas uči, da je edini način za polno uživanje in izkušanje življenja ta, da se mu
                            predamo."</p>
                    </blockquote>
                </figure>
            </div>

            <div class="col">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Norec nas uči, da če nismo pripravljeni delati napak, da nismo pripravljeni živeti."</p>
                    </blockquote>
                </figure>
            </div>

            <div class="col">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Norec uteleša modrost, ki jo, ko spustimo potrebo po temu, da smo nekaj in smo pripravljeni
                            biti nič, se odpremo vsemu."</p>
                    </blockquote>
                </figure>
            </div>

        </div>
        <hr>
        <h2 class="text-center">Galerija</h2>
        <hr>
        <swiper
                :slidesPerView="1"
                :spaceBetween="5"
                :breakpoints="{
                        '360': {
                                slidesPerView: 2,
                                spaceBetween: 2,
                              },
                        '640': {
                                slidesPerView: 3,
                                spaceBetween: 5,
                              },
                              '768': {
                                slidesPerView: 4,
                                spaceBetween: 4,
                              },
                              '1024': {
                                slidesPerView: 5,
                                spaceBetween: 5,
                              },
                            }"
                class="mySwiper"
        >
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-0.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-1.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-2.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-3.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-4.png" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-5.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-6.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-7.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-8.png" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-9.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-10.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-11.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-12.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-13.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-14.png" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-15.jpg" alt=""/></swiper-slide>
            <swiper-slide><img src="@/assets/galerija-tarota/the-fool/the-fool-16.jpg" alt=""/></swiper-slide>

        </swiper>


    </div>
</div>

<!-- Nazaj na vrh -->
<app-navrh/>
