<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Kabala
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Kabala</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container text-center p-3">
        <div class="py-4 text-center">
            <h1>Pot Kabale</h1>
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>
        <p>Po kabali je bilo na začetku vse Bog. Ko je Bog sklenil, da bi naredil prostor za stvarstvo, je
            duhovna energija
            zapolnila praznino. Energija se je prelivala v posode, ki so se napele, da bi zadržale veliko moč. Posode so
            se
            razbile in poslale nešteto drobcev, koščkov žareče snovi, v prostranstvo vesolja. Te razpršene koščke
            božanske
            svetlobe je treba zbrati. Ko bo naloga opravljena, bodo sile teme premagane in svet bo ozdravljen.</p>
        <div class="row">

            <div class="col-lg-3 fs-5 p-3 d-flex align-items-center justify-content-center">
                "Z vsako izkušnjo rastemo in se bolj zavedamo notranje lepote, ki se skriva v nas. Navsezadnje smo res
                sam svoj vodja. Vodimo povezavo in tok življenja, ki je naša dediščina."
            </div>

            <div class="col-lg-6 p-3">

                <img src="~@/assets/kabala/kabala.png" class="img-fluid">
            </div>

            <div class="col-lg-3 fs-5 p-3 d-flex align-items-center justify-content-center">
                "Ko se zgodijo slabe stvari ali ko ne prideš do svojega, če lahko odpreš svoje srce za sočutje, namesto
                da ga zapreš v jezi, boš ustvaril več svetlobe."
            </div>

        </div>
    </div>

    <div class="container p-3">

    </div>
</div>


<app-navrh/>
