<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Tarot branje
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Tarot branje</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <div class="py-4 text-center">
            <h1>Postavitev tarot kart za branje</h1>
            <p class="lead">Pred mešanjem kart si vedno vzemite čas, da se sprostite in postavite vprašanje. Med
                mešanjem se osredotočite na vprašanje in ga resnično začutite. Ko boste dobili občutek, da so karte
                dovolj pomešane in, da bodo odgovorile, jih pričnite obračati.</p>
            <img src="~@/assets/hrline.png" class="img-fluid text-center">
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card bg-dark bg-gradient text-white h-100">
                    <h3 class="card-header border-white">1 karte</h3>
                    <div class="card-body">
                        <p class="card-text">Pri branju ene karte je odličen način ta, da spoznamo pomen karte hkrati pa
                            si lahko vzamemo čas, da karto spoznamo. Ko uporabite eno karto pri branju, si preden jo
                            izberete, postavite vprašanje, kot je: "Kakšno sporočilo imate zame za današnji dan?"</p>
                    </div>
                    <button class="btn btn-warning card-footer border-dark bg-tarot fs-5 fw-bold"
                            @click="showModal1 = true">
                        Obrni
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark bg-gradient text-white h-100">
                    <h3 class="card-header border-white">3 karte</h3>
                    <div class="card-body">
                        <p class="card-text">Ta postavitev kart je odlična za manjše branje. Prva karta predstavlja vašo
                            preteklost, druga vašo sedanjost in tretja vašo prihodnost (kakšen bi lahko bil izid). To
                            postavitev lahko uporabite tudi za branje drugih aspektov v življenju kot je na primer 1.
                            um,
                            2. telo, 3. duša ali pa 1. ljubezen, 2. denar, 3. dom ali 1. situacija, 2. ovire, 3.
                            nasvet.</p>
                    </div>
                    <button class="btn btn-warning card-footer border-dark bg-tarot fs-5 fw-bold"
                            @click="showModal2 = true">
                        Obrni
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark bg-gradient text-white h-100">
                    <h3 class="card-header border-white">5 kart</h3>
                    <div class="card-body">
                        <p class="card-text">Postavitev 5ih kart gre za dodaten odgovor, kjer karta 4 predstavlja glavni
                            razlog za okoliščine, karta 5 pa pokaže potencial za situacijo (Čeprav morda ni dejanski
                            izid, kaže na najsvetlejšo in/ali najtemnejšo možnost, ki se skriva v stanju stvari.)</p>
                    </div>
                    <button class="btn btn-warning card-footer border-dark bg-tarot fs-5 fw-bold"
                            @click="showModal3 = true">
                        Obrni
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark bg-gradient text-white h-100">
                    <h3 class="card-header border-white">Keltski križ</h3>
                    <div class="card-body">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                    <button class="btn btn-warning card-footer border-dark bg-tarot fs-5 fw-bold"
                            @click="showModal4 = true">
                        Obrni
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal ENE KARTE: showModal1 -->
        <vue-final-modal v-model="showModal1" classes="modal-container" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal1 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">Naključno izbrana karta</span>

            <div class="modal__content d-flex align-items-center justify-content-center">
                <div>

                    <router-link :to="selectedImage.to" class="text-decoration-none">
                        <img :src="selectedImage.src" :alt="selectedImage.name" class="img-fluid"/>
                    </router-link>
                    <h4 class="fw-bold text-center">{{ selectedImage.name }}</h4>
                </div>
            </div>
        </vue-final-modal>

        <!-- Modal TREH KART: showModal2 -->
        <vue-final-modal v-model="showModal2" classes="modal-container-three" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal2 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">3 naključne karte</span>

            <div class="modal__content">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-3" v-for="(image, index) in randomImageUrls" :key="image.src">
                            <h4 class="text-center fw-bold">{{ index + 1 }}</h4>
                            <router-link :to="image.to" class="text-decoration-none">
                                <img :src="image.src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ image.name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </vue-final-modal>

        <!-- Modal KRIŽ KART: showModal3 -->
        <vue-final-modal v-model="showModal3" classes="modal-container-three" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal3 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">5 naključnih kart</span>

            <div class="modal__content">
                <div class="container text-center">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <h4 class="text-center fw-bold">4</h4>
                            <router-link :to="randomImageUrlsCross[0].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[0].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[0].name }}</h4>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-4 text-center">
                            <h4 class="text-center fw-bold">1</h4>
                            <router-link :to="randomImageUrlsCross[1].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[1].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[1].name }}</h4>
                        </div>
                        <div class="col-4">
                            <h4 class="text-center fw-bold">2</h4>
                            <router-link :to="randomImageUrlsCross[2].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[2].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[2].name }}</h4>
                        </div>
                        <div class="col-4">
                            <h4 class="text-center fw-bold">3</h4>
                            <router-link :to="randomImageUrlsCross[3].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[3].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[3].name }}</h4>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <h4 class="text-center fw-bold">5</h4>
                            <router-link :to="randomImageUrlsCross[4].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[4].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[4].name }}</h4>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </vue-final-modal>

        <!-- Modal KELTSKI KRIŽ KART: showModal4 -->
        <vue-final-modal v-model="showModal4" classes="modal-container-three" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal4 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">Naključno izbrane karte v križu</span>

            <div class="modal__content">

                <div class="container d-none d-sm-block">
                    <!-- VIDNO SAMO NAD LG-->
                    <div class="row">
                        <!-- Leva stran KRIŽ -->
                        <div class="col-sm-8">
                            <div class="container  text-center">

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[2].name }}</h6>
                                        <router-link :to="randomImageUrlsCeltic[2].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[2].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">3</h6>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-sm-4">
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[5].name }}</h6>
                                        <router-link :to="randomImageUrlsCeltic[5].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[5].src" class="img-fluid py-3"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">6</h6>
                                    </div>

                                    <div class="col-sm-3 position-relative">
                                        <h6 class="text-center fw-bold">1</h6>
                                        <router-link :to="randomImageUrlsCeltic[0].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[0].src"
                                                 class="img-fluid position-absolute top-50 start-0 translate-middle-y"
                                                 style=" z-index: 1;"/>
                                        </router-link>

                                        <h6 class="text-center fw-bold">2</h6>
                                        <router-link :to="randomImageUrlsCeltic[1].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[1].src"
                                                 class="img-fluid position-absolute top-0 start-0 rotate"
                                                 style=" z-index: 2;"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[1].name }}</h6>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[4].name }}</h6>
                                        <router-link :to="randomImageUrlsCeltic[4].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[4].src" class="img-fluid py-3"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">5</h6>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[3].name }}</h6>
                                        <router-link :to="randomImageUrlsCeltic[3].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[3].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">4</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6 class="text-center fw-bold">Dve karti na sredini:</h6>
                                        <h6 class="text-center fw-bold">Karta zadaj 1:<br>
                                            {{ randomImageUrlsCeltic[0].name }}</h6>
                                        <h6 class="text-center fw-bold">Karta spredaj 2:<br>
                                            {{ randomImageUrlsCeltic[1].name }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Desna stran KRIŽ -->
                        <div class="col-sm-4">
                            <div class="container text-center">

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-8">
                                        <h6 class="text-center fw-bold">10</h6>
                                        <router-link :to="randomImageUrlsCeltic[9].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[9].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[9].name }}</h6>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-8">
                                        <h6 class="text-center fw-bold">9</h6>
                                        <router-link :to="randomImageUrlsCeltic[8].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[8].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[8].name }}</h6>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-8">
                                        <h6 class="text-center fw-bold">8</h6>
                                        <router-link :to="randomImageUrlsCeltic[7].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[7].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[7].name }}</h6>
                                    </div>
                                </div>

                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-8">
                                        <h6 class="text-center fw-bold">7</h6>
                                        <router-link :to="randomImageUrlsCeltic[6].to" class="text-decoration-none">
                                            <img :src="randomImageUrlsCeltic[6].src" class="img-fluid"/>
                                        </router-link>
                                        <h6 class="text-center fw-bold">{{ randomImageUrlsCeltic[6].name }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- VIDNO SAMO POD LG-->
                <div class="d-sm-none text-center">
                    Za ogled te postavitve morate imeti napravo z širino ekrana, ki je večja od 575px.
                </div>

            </div>
        </vue-final-modal>

    </div>
</div>


<app-navrh/>
