.bg-tarot {
    background: rgb(176,153,104);
    background: linear-gradient(266deg, rgba(176,153,104,1) 0%, rgba(187,148,89,1) 100%);
}

.bg-tarot-index {
    background-image: linear-gradient(90deg, rgba(0,0,0,1.5), rgba(255,255,255,0.5)), url("~@/assets/tgarot-bg-2.png");
    background-size: cover;
    background-attachment: fixed;
}

li + .breadcrumb-item::before {
    color: white;
}

.cursor {
    cursor: pointer;
}

::v-deep .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    max-width: 400px;
    margin: 0 auto;
}

::v-deep .modal-container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

::v-deep .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    min-height: 90%;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #212529;
    border-radius: 0.25rem;
    background: rgb(176, 153, 104);
    background: linear-gradient(266deg, rgba(176, 153, 104, 1) 0%, rgba(187, 148, 89, 1) 100%);
}

.modal__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.modal__content {
    flex-grow: 1;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.rotate-high-priestess-two-l {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg)
}
.rotate-high-priestess-two-r {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

.margin-high-priestes-l {
    margin-left: -30px;
}
.margin-high-priestes-r {
    margin-right: -30px;
}

.margin-top-fool {
    margin-top: -200px;
}

.margin-top-magician {
    margin-top: -200px;
}

.margin-top-magician-lr {
    margin-top: -40px;
}

.margin-top-magician-r {
    margin-right: -40px;
}

.margin-top-magician-b {
    margin-bottom: -40px;
}

.margin-top-high-ptiestess {
    margin-bottom: -200px;
}

.margin-top-empress {
    margin-top: -300px;
}

.margin-top-hierophant {
    margin-top: -310px;
}

.margin-top-hierophant-plus {
    margin-top: 200px;
}

@media screen and (max-width: 480px) {
    .margin-top-fool {
        margin-top: -70px;
    }
    .margin-top-magician {
        margin-top: -70px;
    }
    .margin-top-magician-r {
        margin-right: -15px;
    }
    .margin-top-high-ptiestess {
        margin-bottom: -70px;
    }
    .margin-top-empress {
        margin-top: -150px;
    }
    .margin-top-hierophant {
        margin-top: -150px;
    }
    .margin-top-hierophant-plus {
        margin-top: 40px;
    }
    .margin-top-magician-b {
        margin-bottom: -15px;
    }
    .font-size-sm {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 480px) and (max-width: 766px) {
    .margin-top-fool {
        margin-top: -150px;
    }
    .margin-top-hierophant-plus {
        margin-top: 100px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .margin-top-hierophant-plus {
        margin-top: 140px;
    }
}
