<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Tarot branje
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Tarot branje</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <div class="py-4 text-center">
            <h1>Tarot branje</h1>
            <p class="lead">Naključna izbira kart</p>
            <img src="~@/assets/hrline.png" class="img-fluid text-center">
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card bg-dark bg-gradient text-white">
                    <div class="card-body">
                        <h5 class="card-title">Obrni eno karto</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button class="btn btn-warning" @click="showModal1 = true">Prikaži</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark bg-gradient text-white">
                    <div class="card-body">
                        <h5 class="card-title">Obrni tri karte</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button class="btn btn-warning" @click="showModal2 = true">Prikaži</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark bg-gradient text-white">
                    <div class="card-body">
                        <h5 class="card-title">Križ</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <button class="btn btn-warning" @click="showModal3 = true">Prikaži</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal ENE KARTE: showModal1 -->
        <vue-final-modal v-model="showModal1" classes="modal-container" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal1 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">Naključno izbrana karta</span>

            <div class="modal__content d-flex align-items-center justify-content-center">
                <div>

                    <router-link :to="selectedImage.to" class="text-decoration-none">
                        <img :src="selectedImage.src" :alt="selectedImage.name" class="img-fluid"/>
                    </router-link>
                    <h4 class="fw-bold text-center">{{ selectedImage.name }}</h4>
                </div>
            </div>
        </vue-final-modal>

        <!-- Modal TREH KART: showModal2 -->
        <vue-final-modal v-model="showModal2" classes="modal-container-three" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal2 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">Tri naključno izbrane karte</span>

            <div class="modal__content">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-4" v-for="image in randomImageUrls" :key="image.src">
                            <router-link :to="image.to" class="text-decoration-none">
                                <img :src="image.src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ image.name }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </vue-final-modal>

        <!-- Modal KRIŽ KART: showModal3 -->
        <vue-final-modal v-model="showModal3" classes="modal-container-three" content-class="modal-content">
            <button class="modal__close border-0 bg-transparent" @click="showModal3 = false">
                <mdi-close class="fw-bold">X</mdi-close>
            </button>
            <span class="modal__title text-center py-3">Naključno izbrane karte v križu</span>

            <div class="modal__content">
                <div class="container text-center">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[0].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[0].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[0].name }}</h5>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-center">
                            <router-link :to="randomImageUrlsCross[1].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[1].src" class="img-fluid"/>
                            </router-link>
                            <h4 class="text-center fw-bold">{{ randomImageUrlsCross[1].name }}</h4>
                        </div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[2].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[2].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[2].name }}</h5>
                        </div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[3].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[3].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[3].name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[4].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[4].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[4].name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[5].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[5].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[5].name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <router-link :to="randomImageUrlsCross[6].to" class="text-decoration-none">
                                <img :src="randomImageUrlsCross[6].src" class="img-fluid"/>
                            </router-link>
                            <h5 class="text-center fw-bold">{{ randomImageUrlsCross[6].name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </vue-final-modal>

    </div>
</div>


<app-navrh/>
