.card-header {
    font-weight: bold;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.rotate-high-priestess-two-l {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg)
}
.rotate-high-priestess-two-r {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

.margin-high-priestes-l {
    margin-left: -30px;
}
.margin-high-priestes-r {
    margin-right: -30px;
}

.margin-top-fool {
    margin-top: -200px;
}

.margin-top-magician {
    margin-top: -200px;
}

.margin-top-magician-lr {
    margin-top: -40px;
}

.margin-top-magician-r {
    margin-right: -40px;
}

.margin-top-magician-b {
    margin-bottom: -40px;
}

.margin-top-high-ptiestess {
    margin-bottom: -200px;
}

.margin-top-empress {
    margin-top: -300px;
}

.margin-top-hierophant {
    margin-top: -310px;
}

.margin-top-hierophant-plus {
    margin-top: 200px;
}

.margin-top-devil-first {
    margin-top: -300px;
}
.margin-top-devil-second {
    margin-top: -90px;
}

.padding-top-star {
    padding-top: 100px;
}

@media screen and (max-width: 480px) {
    .margin-top-fool {
        margin-top: -70px;
    }
    .margin-top-magician {
        margin-top: -70px;
    }
    .margin-top-magician-r {
        margin-right: -15px;
    }
    .margin-top-high-ptiestess {
        margin-bottom: -70px;
    }
    .margin-top-empress {
        margin-top: -150px;
    }
    .margin-top-hierophant {
        margin-top: -150px;
    }
    .margin-top-hierophant-plus {
        margin-top: 40px;
    }
    .margin-top-magician-b {
        margin-bottom: -15px;
    }
    .margin-top-devil-first {
        margin-top: -150px;
    }
    .margin-top-devil-second {
        margin-top: -30px;
    }
    .padding-top-star {
        padding-top: 50px;
    }
    .font-size-sm {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 480px) and (max-width: 766px) {
    .margin-top-fool {
        margin-top: -150px;
    }
    .margin-top-hierophant-plus {
        margin-top: 100px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .margin-top-hierophant-plus {
        margin-top: 140px;
    }
}
