<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Meditacija
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Tarot branje</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <div class="py-4 text-center">
            <h1>Tarot branje</h1>
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>
        <h2>1 karta</h2>

        <div class="col-lg-4">
            <img :src="selectedImage" alt="" class="shadow">
        </div>

        <h2>3 karte</h2>

        <div>
            <img v-for="imageUrl in randomImageUrls" :key="imageUrl" :src="imageUrl"/>
        </div>

    </div>
</div>


<app-navrh/>
