<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Tarot
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Tarot</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-header">
    <div class="container p-md-4 p-2">

        <div class="py-4 text-center">
            <h1>Tarot</h1>
            <div class="lead text-center">Ko se učite brati tarot, je najbolje, da začnete z učenjem pomenov tarot
                kart.
            </div>
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>
        <div class="row row-cols-1 row-cols-xl-5 g-4">
            <div class="col-xl d-flex align-items-center justify-content-center" v-for="(arkana, index) in arkane"
                 :key="index">
                <router-link :to="`${arkana.to}`" class="text-decoration-none">
                    <div class="card-my">
                        <div class="content-my">
                            <div class="front">
                                <img :src="arkana.image" alt="" class="img-fluid">
                            </div>
                            <div class="back text-dark bg-gradient">
                                <h3 class="py-5 text-shadow" v-html="arkana.opis"></h3>
                            </div>

                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>



    <div class="container p-md-4 p-2">
        <p>22 kart velike predstavlja življenjske karmične in duhovne lekcije. Predstavljajo pot do duhovnega
            samozavedanja in prikazujejo različne stopnje, s katerimi se srečujemo, ko iščemo večji pomen in
            razumevanje. Na ta način imajo karte Velike arkane globoke in pomembne lekcije na ravni duše.
        </p>

        <p>56 kart male arkane odraža preizkušnje in stiske, ki jih doživljamo vsak dan. Te karte tarota poudarjajo bolj
            praktične vidike življenja in se lahko nanašajo na trenutna vprašanja, ki imajo začasen ali manjši
            vpliv.</p>

        <p>Znotraj kart male arkane je 16 tarot dvornih kart, od katerih vsaka predstavlja 16 različnih osebnostnih
            značilnosti, ki jih lahko kadar koli izrazimo. Obstaja tudi 40 oštevilčenih kart, organiziranih v 4 barve –
            skodelice, pentaklji, meči in palice – vsaka z 10 kartami, ki predstavljajo različne situacije, s katerimi
            se srečujemo vsak dan.</p>

        <p>Nekateri bodo morda rekli, da so karte tarot preprosto črnilo na papirju. Vendar pa sem ugotovil naslednje,
            medtem, ko sem se poglabljal v njih:</p>

        <p class="fw-bold">Tarot je knjiga zgodb našega življenja, ogledalo naše duše in ključ do naše notranje
            modrosti.</p>

        <p>Vsako duhovno lekcijo, ki jo srečamo v življenju, lahko najdemo v 78 kartah tarota. In ko se
            posvetujemo s tarotom, nam bodo pokazane natančne lekcije, ki se jih moramo naučiti in obvladati, da bomo
            živeli navdihnjeno življenje. To je, kot da bi sebi postavili ogledalo, da bi lahko dostopali do svoje
            podzavesti in se dotaknili modrosti (in odgovorov), ki živi v vseh nas.</p>
    </div>

</div>


<app-navrh/>
