/* TAROT COMPONENTS */

.bg-1:before {
    background-image: url("~@/assets/majorarcana/the-fool.png");
}
.bg-2:before {
    background-image: url("~@/assets/wands/ace-of-wands.png");
}
.bg-3:before {
    background-image: url("~@/assets/cups/ace-of-cups.png");
}
.bg-4:before {
    background-image: url("~@/assets/swords/ace-of-swords.png");
}
.bg-5:before {
    background-image: url("~@/assets/pentacles/ace-of-pentacles.png");
}