/* CUPS */

.bg-36:before {
    background-image: url("~@/assets/cups/ace-of-cups.png");
}
.bg-37:before {
    background-image: url("~@/assets/cups/two-of-cups.png");
}
.bg-38:before {
    background-image: url("~@/assets/cups/three-of-cups.png");
}
.bg-39:before {
    background-image: url("~@/assets/cups/four-of-cups.png");
}
.bg-40:before {
    background-image: url("~@/assets/cups/five-of-cups.png");
}
.bg-41:before {
    background-image: url("~@/assets/cups/six-of-cups.png");
}
.bg-42:before {
    background-image: url("~@/assets/cups/seven-of-cups.png");
}
.bg-43:before {
    background-image: url("~@/assets/cups/eight-of-cups.png");
}
.bg-44:before {
    background-image: url("~@/assets/cups/nine-of-cups.png");
}
.bg-45:before {
    background-image: url("~@/assets/cups/ten-of-cups.png");
}
.bg-46:before {
    background-image: url("~@/assets/cups/page-of-cups.png");
}
.bg-47:before {
    background-image: url("~@/assets/cups/knight-of-cups.png");
}
.bg-48:before {
    background-image: url("~@/assets/cups/queen-of-cups.png");
}
.bg-49:before {
    background-image: url("~@/assets/cups/king-of-cups.png");
}