/* SWORDS */

.bg-50:before {
    background-image: url("~@/assets/swords/ace-of-swords.png");
}
.bg-51:before {
    background-image: url("~@/assets/swords/two-of-swords.png");
}
.bg-52:before {
    background-image: url("~@/assets/swords/three-of-swords.png");
}
.bg-53:before {
    background-image: url("~@/assets/swords/four-of-swords.png");
}
.bg-54:before {
    background-image: url("~@/assets/swords/five-of-swords.png");
}
.bg-55:before {
    background-image: url("~@/assets/swords/six-of-swords.png");
}
.bg-56:before {
    background-image: url("~@/assets/swords/seven-of-swords.png");
}
.bg-57:before {
    background-image: url("~@/assets/swords/eight-of-swords.png");
}
.bg-58:before {
    background-image: url("~@/assets/swords/nine-of-swords.png");
}
.bg-59:before {
    background-image: url("~@/assets/swords/ten-of-swords.png");
}
.bg-60:before {
    background-image: url("~@/assets/swords/page-of-swords.png");
}
.bg-61:before {
    background-image: url("~@/assets/swords/knight-of-swords.png");
}
.bg-62:before {
    background-image: url("~@/assets/swords/queen-of-swords.png");
}
.bg-63:before {
    background-image: url("~@/assets/swords/king-of-swords.png");
}