/* WANDS */

.bg-22:before {
    background-image: url("~@/assets/wands/ace-of-wands.png");
}
.bg-23:before {
    background-image: url("~@/assets/wands/two-of-wands.png");
}
.bg-24:before {
    background-image: url("~@/assets/wands/three-of-wands.png");
}
.bg-25:before {
    background-image: url("~@/assets/wands/four-of-wands.png");
}
.bg-26:before {
    background-image: url("~@/assets/wands/five-of-wands.png");
}
.bg-27:before {
    background-image: url("~@/assets/wands/six-of-wands.png");
}
.bg-28:before {
    background-image: url("~@/assets/wands/seven-of-wands.png");
}
.bg-29:before {
    background-image: url("~@/assets/wands/eight-of-wands.png");
}
.bg-30:before {
    background-image: url("~@/assets/wands/nine-of-wands.png");
}
.bg-31:before {
    background-image: url("~@/assets/wands/ten-of-wands.png");
}
.bg-32:before {
    background-image: url("~@/assets/wands/page-of-wands.png");
}
.bg-33:before {
    background-image: url("~@/assets/wands/knight-of-wands.png");
}
.bg-34:before {
    background-image: url("~@/assets/wands/queen-of-wands.png");
}
.bg-35:before {
    background-image: url("~@/assets/wands/king-of-wands.png");
}