<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Velika Arkana
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none" to="/tarot">Tarot</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Velika Arkana</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid p-0 bg-header">
    <div class="container p-md-4 p-2">

        <div class="p-md-2 text-black">
            <div class="py-4 text-center">
                <h1 class="text-center">Velika Arkana</h1>
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>
            <p>Karte Tarota Velika Arkana
                predstavljajo življenjske lekcije, karmične vplive in
                velike arhetipske teme, ki vplivajo na vaše življenje in potovanje vaše duše do razsvetljenja. Pomeni
                kart
                Major Arcana so globoki in zapleteni – na čudovite načine! Teze Tarot karte resnično predstavljajo
                strukturo
                človeške zavesti in vsebujejo ključe življenjskih lekcij, ki so se prenašale skozi stoletja.
            </p>
            <p>Znane tudi kot Trump Cards, karte Velika Arcana vključujejo 21 oštevilčenih kart in 1 neoštevilčeno
                karto
                (Norec). Norec je glavni lik Velike Arkane in se poda na svoje potovanje skozi vsako od kart, spoznava
                nove
                učitelje in se na tej poti uči novih življenjskih lekcij ter na koncu doseže zaključek svojega potovanja
                s
                karto Svet. To je znano kot potovanje norcev in je koristen način za razumevanje zgodbe pomenov kart
                Tarot
                Major Arcana.</p>

            <p><span class="fw-bold">Kaj pomeni karta velike arkane pri branju tarota?</span>
                Ko v branju tarota zagledate karto Velike Arkane, ste pozvani, da razmislite o življenjskih lekcijah in
                temah,
                ki jih trenutno doživljate. Karte Velike Arkane bodo pogosto postavile sceno za celotno branje Tarota,
                druge
                karte pa se nanašajo na ta temeljni pomen Velike Arkane.</p>


            <p><span
                    class="fw-bold">Kaj pomeni, ko je pri branju tarota prisotna večinoma velika arkanska tarot karta?</span>
                Ko je branje tarota pretežno sestavljeno iz kart velike arkane, doživljate dogodke, ki vam bodo
                spremenili
                življenje in bodo imeli dolgoročne učinke. Obstajajo pomembne lekcije, na katere morate biti pozorni, da
                boste
                še naprej napredovali v svojem duhovnem in osebnem iskanju.</p>

            <p>Če pa je veliko tarot kart velike arkane obrnjenih navzdol, je to morda znak, da tem pomembnim
                življenjskim lekcijama ne posvečate dovolj pozornosti in morate lekcije najprej obvladati, preden lahko
                nadaljujete.</p>

            <div class="py-4 text-center">
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>

            <strong>Karte glavne arkane so:</strong> <span v-for="karte in tarot">
                <router-link class="text-decoration-none text-white" :to="`${karte.to}`">{{ karte.ime }}</router-link> |
            </span>

            <div class="py-4 text-center">
                <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
            </div>

            <div class="row row-cols-1 row-cols-xl-4 g-4">
                <div class="col-xl d-flex align-items-center justify-content-center" v-for="(arkana, index) in tarot"
                     :key="index">
                    <router-link :to="`${arkana.to}`" class="text-decoration-none">
                        <div class="card-my">
                            <div class="content-my">
                                <div class="front">
                                    <img :src="arkana.img" alt="" class="img-fluid">
                                </div>
                                <div class="back p-2 text-dark bg-gradient">
                                    <h3 class="text-shadow">{{ arkana.ime }}</h3>
                                    <p>{{ arkana.pregled }}</p>
                                </div>

                            </div>
                        </div>
                    </router-link>
                </div>
            </div>

        </div>
    </div>
</div>

<app-navrh/>
