<div class="container-fluid text-white bg-tarot-index">
    <div class="container">
        <div class="row p-4 d-flex align-items-center justify-content-center">
            <div class="col-md-6 p-md-5">
                <h1>
                    Tarot za vašo rast!
                </h1>
                <div class="fs-4">
                    Sile v ozadju so vedno v igri, vedno delujejo. Izbira je v vaših rokah!
                </div>
            </div>
            <div class="col-md-6">
                <div class="bd-highlight">
                    <img src="@/assets/shiva.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-header">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                <div class="card text-center border-0 bg-transparent mb-3">
                    <div class="row g-0 d-flex align-items-center justify-content-center">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tarot</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tarot vaje</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tarot postavitve</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Kabala</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Qliphot</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Meditacija</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sadhana</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Literatura</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">V&O</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Kontakt</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-dark bg-gradient text-white">
    <div class="container p-4">
        <div class="text-center">
            <div class="fs-1 fw-bold">
                Karta dneva!
            </div>
            <p class="lead">
                Vsak dan namenim nekaj časa in obredno izberem karto iz velike arkane, ki služi kot spološno sporočilo
                vsem!
            </p>
        </div>

        <div class="row  text-center">

            <div class="col-lg-4 d-flex align-items-center justify-content-center">Napiši sporočilo</div>

            <!-- KARTA DNEVA -->
            <div class="col-lg-4">
                <img :src="currentImageSrc" alt="Randomly chosen image" />
            </div>

            <div class="col-lg-4 d-flex align-items-center justify-content-center"></div>

        </div>

    </div>
</div>
