<div class="container-fluid text-white bg-tarot-index">
    <div class="container">
        <div class="row p-4 d-flex align-items-center justify-content-center">
            <div class="col-md-6 p-md-5">
                <h1>
                    Tarot za vašo rast!
                </h1>
                <div class="fs-4">
                    Sile v ozadju so vedno v igri, vedno delujejo. Izbira je v vaših rokah!
                </div>
            </div>
            <div class="col-md-6">
                <div class="bd-highlight">
                    <img src="@/assets/shiva.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-header position-relative">
    <img src="~@/assets/thesunmoon.png" alt="" class="position-absolute top-0 start-0 translate-middle index">
    <div class="container py-5" id="hanging-icons">


        <div class="py-4 text-center">
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                </div>
                <div>
                    <h2>TAROT</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                </div>
                <div>
                    <h2>TAROT VAJE</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h2>MEDITACIJA</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h2>SADHANA</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h2>KABALA</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h2>LITERATURA</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid bg-dark bg-gradient text-white">
    <div class="container p-4">
        <div class="text-center">
            <div class="fs-1 fw-bold">
                Karta dneva!
            </div>
            <p class="lead">
                Vsak dan namenim nekaj časa in obredno izberem karto iz velike arkane, ki služi kot spološno sporočilo
                vsem!
            </p>
        </div>

        <div class="row  text-center">

            <div class="col-lg-4 d-flex align-items-center justify-content-center">Napiši sporočilo</div>

            <!-- KARTA DNEVA -->
            <div class="col-lg-4">
                <img src="@/assets/majorarcana/the-sun.png" alt="" class="shadow">
            </div>

            <div class="col-lg-4 d-flex align-items-center justify-content-center">Napiši sporočilo</div>

        </div>

    </div>
</div>
