<div class="container-fluid text-white bg-tarot-index shadow-sm">
    <div class="container p-md-4 p-2">
        <div class="fs-1 fw-bold">
            Anahata
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/">Domov</router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link class="text-decoration-none " to="/meditacija">Meditacije</router-link>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Anahata</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 bg-tarot">
    <div class="container p-3">
        <div class="py-4 text-center">
            <h1>Anahata</h1>
            <p class="lead">Ground ZERO</p>
            <img src="~@/assets/hrline.png" class="img-fluid text-center" alt="">
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <img :src="cakra[0].image" class="img-fluid rounded-start m-3" alt="...">
        </div>

    </div>
</div>


<app-navrh/>
